body {
  background-color: rgb(240, 195, 195);
  padding: 0px;
}

h1 {
  color: rgb(251, 255, 0);
  background-color: rgb(165, 131, 244);
  padding-bottom: 10px;
  font-family: cursive;
  font-size: 50px;
  text-align: center;
}

.Container {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  border: 10px solid rgb(205, 177, 177);
  background-color: rgb(165, 131, 244);
  margin: auto;
  border-radius: 10px;
}
.from-label {
  display: block;
  color: rgb(253, 255, 121);
  padding: 20px;
  font-family: cursive;
  font-size: 35px;
}

.from-input {
  display: block;
  font-family: cursive;
  font-size: 25px;
  border: 5px solid rgb(146, 145, 145);
  margin: auto;
  background-color: rgb(209, 189, 255);
  width: 80%;
  border-radius: 20px;
  padding-left: 2%;
}

button {
  background-color: rgb(251, 255, 43);
  color: rgb(84, 84, 84);
  font-family: cursive;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 5px black;
  width: 100px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}

.validation {
  font-family: cursive;
  font-size: 50px;
  text-align: center;
  color: rgba(1, 1, 1, 0.989);
  padding-top: 50px;
}

.list {
  align-content: center;
  width: 80%;
  margin: 3%;
  display: inline-block;
}

.task {
  font-size: 30px;
  margin: 20px 0 15px 0;
  display: flex;
}

.check {
  width: 5%;
  font-size: medium;
  border: 5px solid rgb(0, 0, 0);
}

.from-span {
  display: block;
  text-align: left;
  font-family: cursive;
  font-size: medium;
  padding: 1.5%;
  width: 100%;
  background-color: rgb(175, 255, 159);
  border-radius: 20px;
  margin: 3%;
}

.span {
  background-color: rgb(113, 208, 245);
  color: rgb(255, 255, 255);
  font-family: cursive;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  width: 120px;
  height: 40px;
  margin: 3%;
  box-shadow: 0 7px rgb(77, 176, 215);
  cursor: pointer;
}

.span-uno {
  background-color: rgb(253, 102, 97);
  color: rgb(255, 255, 255);
  font-family: cursive;
  font-size: 20px;
  border-radius: 15px;
  width: 120px;
  height: 40px;
  margin: 3%;
  box-shadow: 0 7px rgb(209, 89, 85);
  cursor: pointer;
}
