body {
  background-color: dimgray;
  padding-top: 100px;
}

.Container {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  border: 10px solid black;
  background-color: rgb(165, 131, 244);
  margin: auto;
  border-radius: 10px;
}

h1 {
  display: block;
  color: rgb(91, 94, 184);
  margin-bottom: 10px;
  font-family: cursive;
  font-size: 50px;
}

.from-label {
  display: block;
  color: rgb(200, 246, 130);
  margin-bottom: 10px;
  font-family: cursive;
  font-size: 30px;
}

.from-input {
  display: block;
  font-family: cursive;
  font-size: 25px;
  border: 5px solid dimgray;
  margin: auto;
  background-color: rgb(160, 227, 235);
  width: 500px;
  height: 40px;
  border-radius: 20px;
}

button {
  background-color: rgb(102, 214, 255);
  color: rgb(161, 121, 254);
  font-family: cursive;
  font-size: 20px;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin: 20px;
}

.validation {
  font-family: cursive;
  font-size: 50px;
  text-align: center;
  color: rgba(1, 1, 1, 0.989);
  padding-top: 50px;
}

.list {
  width: 80%;
  margin: 50px auto 0;
}

.task {
  font-size: 30px;
  margin: 20px 0 15px 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.from-span {
  display: block;
  font-family: cursive;
  font-size: medium;
  border: 5px solid rgb(0, 0, 0);
  margin: auto;
}

.span {
  background-color: rgb(122, 248, 183);
  color: rgb(224, 224, 224);
  font-family: cursive;
  font-size: 20px;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin: 20px;
}

.span-uno {
  background-color: rgb(216, 100, 100);
  color: rgb(224, 224, 224);
  font-family: cursive;
  font-size: 20px;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin: 20px;
}
